@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-brandFont;
  }
  .highlighted {
    @apply bg-redgimin text-white px-1 uppercase;
  }

  h2 {
    @apply text-4xl font-bold;
  }

  .text-lamon {
    @apply font-lamon;
    letter-spacing: 0.1em;
  }

  .test {
    color: red;
  }

  .retest {
    color: green;
  }
}